.panel-container {
    min-width: 300px;
    border: 1px solid black;
    height: 100%;
}

.panel-item {
    display: flex;
    justify-content: space-between;
}

.panel-item-label {

}

.panel-item-ctl {
}