.icon-button {
    width: 24px;
    height: 24px;

    border: solid white 2px;
    border-radius: 8px;

    background-color: #333;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}