.icon-button {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;

    --alt-text-opacity: 0;
    --border-color: var(--color-off-white);
    &:hover {
        --alt-text-opacity: 1;
        --border-color: var(--color-off-white-bright);
    }

    &-icon {
        width: 32px;
        height: 32px;
        cursor: pointer;
    
        border: solid 1px var(--border-color);
        border-radius: 8px;
    
        background-color: var(--surface);
        
        display: flex;
        align-items: center;
        justify-content: center;

        color: var(--border-color);
    }

    &-alt {
        opacity: var(--alt-text-opacity);
        transition: 500ms;
        overflow: hidden;
        color: var(--color-off-white-bright);

        display: flex;
        align-items: center;
    }
}
