.quake-list {
    &-scrollable-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;

        background-color: #333;
    }

    &-text-container {
        height: 100%;
        background-color: #333;
        color: white;
        font-size: 2em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &-text-small {
        font-size: small;
        padding: 12px 0;
    }

    &-loading-dots {
        width: 60px;
        margin: 20px 0 80px 0;

        aspect-ratio: 2;
        --_g: no-repeat radial-gradient(
            circle closest-side,#FFF 80%,#0000
        );
        background: 
          var(--_g) 0%   50%,
          var(--_g) 50%  50%,
          var(--_g) 100% 50%;
        background-size: calc(60%/3) 50%;
        animation: l3 1.5s infinite linear;    
    
        @keyframes l3 {
            20%{background-position:0%   0%, 50%  50%,100%  50%}
            40%{background-position:0% 100%, 50%   0%,100%  50%}
            60%{background-position:0%  50%, 50% 100%,100%   0%}
            80%{background-position:0%  50%, 50%  50%,100% 100%}
        }
    }   
}

&-item {
    border: 1px solid white;
    padding: 6px 6px;

    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "location magnitude"
        "date     magnitude"
        "extras   extras";

    color: white;
    cursor: pointer;

    &-location {
        grid-area: location;
    }

    &-date {
        grid-area: date;
        font-size: 0.8em;
    }

    &-magnitude {
        grid-area: magnitude;
        font-size: 2em;
    }
    
    &-extras {
        grid-area: extras;
        display: flex;
        justify-content: space-between;
    }
}
