.sidebar {
    --handle-bg: var(--surface, transparent);

    height: 100%;
    
    display: flex;
    align-items: stretch;
    
    &__content {
        overflow: hidden;
        background: var(--surface, transparent);
        flex-grow: 1;
    }
}
