.layout-overlay {
    height: 100%;

    position: relative;
    pointer-events: none;

    &-bottom {
        position: absolute;
        inset: 0;

        height: 100%;
    }

    &-top {
        position: absolute;
        inset: 0;

        pointer-events: none;
    }
}
