.timeline-container {
  width: 480px;

  background: var(--color-bg);
  border: 1px solid black;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 120px auto 120px;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "  slider   slider   slider "
    "date-start   .     date-end";
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;   

}

.timeline-slider {
  grid-area: slider;
  padding: 16px 60px 4px 60px;

  @include flex-center();
}

.timeline-date-start {
  grid-area: date-start;

  padding: 8px 10px;
  @include flex-center();
}

.timeline-date-end {
  grid-area: date-end;

  @include flex-center();
}
