.sidebar-handle {
    --handle-color: var(--color-off-white);
    --handle-color-hover: var(--color-off-white-bright);
    --btn-h: 80px;
    --btn-w: 24px;
    --btn-bg: var(--surface);

    height: 100%;
    width: var(--w-handle);

    background: linear-gradient(90deg, 
        var(--handle-bg, transparent) calc(50% - 1.5px), 
        var(--handle-color)           calc(50% - 0.5px), 
        var(--handle-color)           calc(50% - 0.5px), 
        transparent                   calc(50% + 1.5px)
    );

    &:hover {
        background: linear-gradient(90deg, 
            var(--handle-bg, transparent) calc(50% - 2px), 
            var(--handle-color-hover)     calc(50% - 0.5px), 
            var(--handle-color-hover)     calc(50% + 0.5px), 
            transparent                   calc(50% + 2px)
        );
    }

    &__btn {
        position: relative;
        top: calc(50% - var(--btn-h)/2);
        right: calc(-0.5 * (var(--w-handle) - var(--btn-w)));
        z-index: 10;
        
        width: calc(var(--btn-w));
        height: var(--btn-h);

        pointer-events: none;

        display: flex;
        align-items: center;
        justify-content: center;
    
        & div {
            cursor: pointer;
            pointer-events: all;
            width: 80%;
            height: 66.6%;
    
            background: var(--btn-bg);
            border: solid 2px var(--handle-color);
            border-radius: 12px;
    
            transition: 100ms;
    
            color: white;
            display: flex;
            align-items: center;
    
            &:hover {
                transform: scale(1.02);
                border: solid 2px var(--handle-color-hover)
            }
        }
    }
}
