.scene-overlay-container {
    height: 100%;
    display: grid;
    grid-template-areas: 
        ".  btns"
        "tl tl  ";

    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 160px;
}

.scene-overlay-btns {
    grid-area: btns;

    padding: 16px 8px;
    margin-right: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    pointer-events: none;
    & > * {
        pointer-events: auto;
    }
}

.scene-overlay-timeline {
    grid-area: tl;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    & > * {
        pointer-events: auto;
    }
} 