.drawer {
    border: solid 1px var(--surface-border);
    border-radius: 3em 3em 0 0;
    margin: 1px;
    height: 80dvh;

    background-color: var(--surface);


    &__handle {
        padding-top: 12px;
        margin-bottom: 20px;

        &-vaul {
            margin-top: calc(var(--handle-h));
            width: 40vw !important;

            span {
                // touch area
                height: 3rem;
                width: calc(100% + 2em);

                transform: translate(-50%, -1.8em);
            }
        }
    }

    &__content-container {
        height: calc(80vh - 22px);
    }
}