.timeline-container {
  width: 100%;

  background: var(--surface);
  border: 1px solid var(--surface-border);
  border-radius: 8px;

  padding: 1rem 2rem;
  @media(min-width: 768px) {
    padding: 2rem;
  }
}

.range-slider {
  height: 6px;
  background: #e2e2e4;

  .range-slider__range {
    transition: height 0.3s;
    background: #0031c1;
  }
    
  .range-slider__thumb {
    background: #0031c1;
    border: solid 1px #0038e0;
    height: 16px;
    width: 16px;
    transition: transform 0.3s;
  }
    
  .range-slider__thumb[data-active] {
    transform: translate(-50%, -50%) scale(1.3);
  }
    
  .range-slider__range[data-active] {
    height: 6px;
    transition: height 0.3s;
  }
}
  
