.page {
    height: 100%;

    position: relative;

    &__scene {
        position: absolute;
        right: 1px;
        
        height: 100%;
    }

    &__sidebar {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 100;

        --sidebar-bg: var(--color-bg);
    }
}
