.app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100%;

  grid-template-areas:
    "panel scene";
}

.app-panel {
  grid-area: panel;
}

.app-scene {
  grid-area: scene;
}
