.app {
  text-align: center;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "panel scene";
}

.app-panel {
  grid-area: "panel";
  background-color: lightblue;
}

.app-scene {
  grid-area: "scene";
}
