@import url('/src/_colors.scss');

* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

div {
    &::-webkit-scrollbar {
        width: 8px;
    }
  
    &::-webkit-scrollbar-track {
        background: var(--color-bg);
    }
  
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-off-white);
        border-radius: 6px;
        border: solid 2px var(--color-bg);
    }
}

.text-lg { font-size: 2em; }
.text-sm { font-size: small; }

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
