.info-bar-container {
    background-color: goldenrod;
    padding: 4px 0;

    display: flex;
    justify-content: space-between;

    &-closed {
        padding: 0;
        transform: translateY(-100%);
        transition: all 500ms;
    }
}

.info-bar-close {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;

    font-size: 24px;
    cursor: pointer;
}

.info-bar-text-warning {
    padding: 2px 8px;
    font-size: large;
}

.info-bar-text-contact {
    padding: 4px 8px;
    font-size: small;
}