.layout-side-pane {
    height: 100%;
    display: flex;
    
    background-color: var(--color-bg);

    &--resizing {
        cursor: w-resize;
    }
}

.side-pane-container {
    border: solid red 1px;

    display: flex;
    position: relative;

    --w-handle: 12px;

    @media (max-width: 640px) {
        display: none;
    }
}

.side-pane-content { 
    overflow: 'hidden';
    // transition: 500ms;
}
